*{
    margin:0;
    padding: 0;
    border: 0;
    
}
/*header*/
    .container{
   background-color: #0A1362;
   display: flex;
   justify-content: space-between;
   border-bottom: 10px solid #000;
   padding: 10px 20px;
   font-family: "Fira Code";

    }

  img{
    width: 60px;
    height: 60px;
    top: 10px;
    left: 20px;
  }
a{
    color:aliceblue

}
 nav{
    display: flex;
    align-items: center;}

    nav #link-1,#link-2,#link3,#link4,#link5{
        margin-right: 30px;
        font-size: 20px;
        font-weight: bold;
    
       
    }
   .fa-regular fa-square{
    background-color: #A9D2DF;
   }

  .buton{
    background-color: #A9D2DF;
    color: #0A1362;
text-decoration: none;
padding: 20px;
margin-right: 0px;
transition: 0.5s;
box-shadow: 5px 5px 60px #000;
border-radius: 7px;}

.buton:hover{
  color:#a6adeaba;
  background: transparent;
  transform: scale(1.5) rotate(360deg);
  cursor: grab;
}


a:before{
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
 background-color:#A9D2DF;
  margin-right: 10px;

}
/*Titulo*/
#background{
  background-image: url("img/wp4676582-4k-pc-wallpapers.jpg");
 background-size: cover;
 background-position: center;
 height: 85vh;
 margin-top: 0px;
 display: flex;
align-items: flex-start;
flex-direction: column;
padding-top: 116px}
 


#fundo{
  width: 627px;
  height: 184px;
  background-color: #A9D2DF;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  border-radius: 7px;
  border-bottom: 7px solid black;
  border-right: 7px solid #000;
  box-shadow: 3px 3px 15px #000;
}

#titulo-fundo{
  font-size: 40px;
  font-family:"Press Start 2P";
  color:#0A1362;
  font-weight: 400;
margin-top: 40px;
-webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;}

#titulo-fundo2{
  font-family: "Press Start 2P";
  font-size: 27px;
  color: white;
  font-weight: 400;
  margin-top: 25px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
}

.btn{
  width: 750px;
  height: 100px;
  display:flex;
align-items: center;
justify-content: space-around;
  
}

.b1{
  color: #fff;
  background-color: #0A1362;
  width: 170px;
  height: 40px;
text-decoration: none;
text-align: center;
padding-top: 20px;
border-radius: 5px;
border-bottom: 5px solid black;
  border-right: 5px solid #000;
  box-shadow: 3px 3px 15px #000;
margin-top: 30px;
font-size: 20px;
transition: 0.8s;}

.b1:hover{
  background-color: #A9D2DF;}
  
