.about-container{
    text-align: center;
    height: 780px;
    background-color: #0A1362;
    padding-top: 82px;
    border-bottom: 10px  solid #A9D2DF  ;
    position: relative;
}

.carrocel{
display:flex;
       margin-top: 188px;
       margin-bottom: 50px;
       justify-content: space-evenly;
      position: relative;
      overflow: hidden;
  }  

.date::after{
    height: 40px;
    border-right: 4px dashed #000000;
    content: "";
    transform: translate(-53px,75%);
    position:absolute
    }



  .carrocel-btn{
    display: inline-block;
   width: 50px;
Height:50px;
background-color: #A9D2DF;
position: absolute;
box-shadow: 5px 5px 0px #000;
cursor: grab;
right: 20px;
top:110px
 }

 .carrocel-btn.-left{
    left: 20px;
    display: inline-block;
   width: 50px;
Height:50px;
background-color: #A9D2DF;
top: 425px;
box-shadow: 5px 5px 0px #000;
cursor: pointer;
position: absolute;
}

  .carrocel-btn::after{
    display: inline-block;
    border-top:15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff; 
content: "";
margin-top: 5px;
}



.carrocel-btn.-left::after{
    transform: rotate(180deg);
}
/*linha do tempo*/
.carrocel::before{
    content: "";
    height: 5px;
    width: calc(100% - 80px) ;
    background-color: #000;
    display: block;
    position: absolute;
    left:40px;
    top:30px
}


.carrocel::after{
    content: '';
    width: 99%;
   border: 3px dashed #000;
    position: absolute;
top: 30px;}

.date{
    font-weight: 400px;
    font-family:"Press Start 2P";
    font-size: 25px;
    color: #A9D2DF;
}

/*img com variações */

.size{
   height: 140px;
   padding-right: 20px;
   padding-left: 20px;
   background-color: #CEB02A;
   border: 5px solid #000;
   margin-top: 40px; 
   display: flex;
   align-items: center;}


.size.-azul{
background-color:#A9D2DF;
padding-left: 20px;
padding-right: 20px;}

.img-carrocel-passaro
{height: 114px;}

.size.-caelum
{
    padding:0;
    background-color: transparent;
    border: none;
}
   
    
/**/

.descripition{
    color: #fff;
font-size: 30px;
font-family: "Fira Code";
margin: 70px 18px;
margin-left: 80px;
margin-right: 80px;
line-height: 39px;
letter-spacing: 2px;
text-align: justify;
}

.itens{
 
  width: 88%;
  overflow: hidden;
 
 
}
.elementes{
    display: flex;
    justify-content: space-evenly;
   transition: transform 100ms ease-in-out;
}