.last-section{
    background-color:#371976; ;
    height: 700px;
    position: relative;
    padding-top: 50px;
    box-sizing: border-box;
}
.last-section .main-title{
    text-align: center;
}

.footer-style{
    background-color: #3A4042;
    width: 100%;
display: flex;
align-items: center;
justify-content: center;
height: 100px;
position: absolute;
top:690px
}

.logo-position{
    display: flex;
    justify-content: space-between;
    width: 215px;
    align-items: center;
}

.form-position{
    display: flex;
    flex-direction: column;
}

.form-itens{
    display: flex;
    flex-direction:column;
    width: 88%;
    margin-left: 100px;
    justify-content: space-between;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Fira Code';
    line-height: 40px;
}


.form-itens .main-input{
    height: 50px;
    border: 5px solid #000;
    font-size: 30px;
    box-sizing: border-box;
}
.form-itens #mensagem{
    height: 230px;
    border: 5px solid #000;
    box-sizing: border-box;
}


 .form-itens .second-btn.-footer{
    padding: 20px;
    width: 88%;
top: 540px;
position: absolute;
font-size: 30px;
padding-top: 10px;
background-color: #A9D2DF;
height: 60px;
left: 100px;
box-sizing: border-box;
 }

 .insta{
    width: 45px;
    height: 45;
 }