.icon-menu{
    background-image: url("../img/download-c.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:60px;
    height: 60px;
    color: transparent;
    image-rendering: pixelated;
    box-shadow: 5px 5px 0px #000;
}
