.icon-menu{
    background-image: url("../img/download-c.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:60px;
    height: 60px;
    color: transparent;
    image-rendering: pixelated;
    box-shadow: 5px 5px 0px #000;
}

 .header-container .Icon-close{
    font-size: 35px;
    color: #A9D2DF;
    text-decoration: none;
   font-family: 'Press Start 2P';
   position: absolute;
right: 16px;
top: 16px;
transition: transform 0.5s linear;
}

 .header-container .Icon-close:hover{
transform:scale(1.4);
 }
