.my-projects{
    height: 470px;
    background-color: #000;
    text-align: center;
    padding-top: 50px;
    border-bottom: 10px solid #1b2373;
}

.my-projects .main-title{
    text-align: center;
}

.img-position{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.projects-icon{
    width: 280px;
    height:280px ;
    background-position: center;
    transition: 0.5s;
}
.img-position:hover :not(:hover){
    opacity: 0.5;
}

.projects-icon:hover{
scale: 1.1;
}

.projects-icon:first-child{
   margin-left: 160px;
   background-color:#054b60;
   background-image: url("../img/logo-firedlabs.png");
   background-repeat: no-repeat;
   background-size:210px 240px;
   box-shadow: 8px 8px 0px #fff;
}

.projects-icon:last-child{
    margin-right: 160px;
    box-shadow: 8px 8px 0px #fff;
}

.projects-icon:nth-child(2)
{
    background-image: url("../img/logo-collabcode.png");
    background-repeat: no-repeat;
    background-size:245px 245px;
    background-color: #232a68;
    box-shadow: 8px 8px 0px #fff;
}