


 /*skils*/
  
 .section-skils
 {
   background-color: #0A1362;
   padding-top: 60px;
   text-align: center;

}
 .titulo-skils{
 color: #fff;
 font-family:"Press Start 2P";
 font-size: 40px;

}


.section-skils-2{
 height:730px;
 background-color:#0A1362;
 padding-top: 55px;
 display: flex;
 justify-content: center;
 padding-bottom: 65px;
 border-bottom: 10px solid #A9D2DF;
}


.box-skils{
 height: 480px;
 width: 480px;
 padding-top: 10px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.box-skils:nth-child(even){
  margin-left: 50px;
}


.skil-name{
 font-family:"Press Start 2P";
 font-size: 20px;
 color: #fff;
 margin-left: 90px;
 position: absolute;
 margin-top: 10px;
 
}




.img-skils{
 width:80.16px ;
 height: 90px;
 position: absolute;
}

.itens-skils .progress-bar{
 width: 319px;
 height: 35px;
 background-color: #fff;
 border: 5px solid #000;
 margin-left: 90px;
 position: absolute;
 margin-top: 40px;
}

.progress-bar-fill{
 width: 50%;
 height: 100%;
 background-color:#A9D2DF;
}

 


  
 