#titulo-fundo{
    font-size: 40px;
    font-family:"Press Start 2P";
    color:#0A1362;
    font-weight: 400;
  margin-top: 40px;
  -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;}
  
  #titulo-fundo2{
    font-family: "Press Start 2P";
    font-size: 27px;
    color: white;
    font-weight: 400;
    margin-top: 25px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
  }
  